extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        .text-center
          h1= title
  .row
    .col-md-6.col-sm-12
      p
        i|Ngmoviedb 
        |was created to help Nigerian Developers search for movies with APIs available to ease the developers stress.
        |<br /><br />
    .col-md-9.col-sm-12
        .text-center Why i decided to Create 
          i|NGMOVIEDB
        |<br /> 
        | &nbsp; &nbsp; &nbsp;During my senior year at Kennesaw State University, i created a project where we had to develop a website that displays movies and their description. While surfing the website on how to achieve my goal, I found themoviedb website with Apis that made my project easier. But, Only movies from the west were available. I promised myself, i would go on to create my own nigerian movie database, create the Api, and also make it available to the Nigerian Populace.

        |<br /><br />
        | &nbsp; &nbsp; &nbsp; After graduating from college in July 2016, I got a job at IBM, but i wasn't due to start till january. Well, I asked myself what's next? What's next is what has gotten me so far in this journey of life. I decided i was going to develop this Movie Application, but with what Language, framework, Database? I decided on Mongodb, Angular Js, Jade Template, Express Engine, and Node Js. It was easier to decide upon because in college, i used Moustache Js, and Ajax to develop my movie project, but it is going to be nothing as complicated as this.
