include mixins
doctype
html
  head
    title 9ja Movie Database
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    script(type='text/javascript', src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(type='text/javascript', src='http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/styleheader.css')
    link(rel='stylesheet', href='/bootstrap/css/header-fixed.css')
    link(href='/bootstrap/css/style.css', rel='stylesheet', type='text/css')
    link(href='/bootstrap/css/mixin.css', rel='stylesheet')
    link(href='/bootstrap/js/accordion.js', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cookie', rel='stylesheet', type='text/css')  

  body
    header.header-fixed
      .header-limiter
        h1
          a(href='/')
            | NGMOVIE
            span DB
          |  &nbsp;&nbsp;&nbsp;
        nav.pull-left
          strong
            a(href='/') HOME

            | &nbsp;&nbsp;
            a(href='#') PEOPLE

            | &nbsp;&nbsp;
            a(href='/about') ABOUT

      
    .row
      .col-lg-12
        #custom-search-input
          .input-group.col-md-12
            input.form-control.input-lg(type='text', placeholder='Search For Nigerian Movies, People, Or Tv Shows')
            span.input-group-btn
              button.btn.btn-info.btn-lg(type='button')
                i.glyphicon.glyphicon-search

    .header-fixed-placeholder
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="/bootstrap/js/fixed.js")

      script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
      script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
        





      











      block content
    p(style='white-space:pre;') 
      .container
  // --------- Footer ----------
  footer.footer-bs
    .row
      .col-md-3.footer-brand.animated.fadeInLeft
        h2 Logo
        p
          | Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.
        p © 2014 BS3 UI Kit, All rights reserved
      .col-md-4.footer-nav.animated.fadeInUp
        h4 Menu —
        .col-md-6
          ul.pages
            li
              a(href='#') Travel
            li
              a(href='#') Nature
            li
              a(href='#') Explores
            li
              a(href='#') Science
            li
              a(href='#') Advice
        .col-md-6
          ul.list
            li
              a(href='#') About Us
            li
              a(href='#') Contacts
            li
              a(href='#') Terms & Condition
            li
              a(href='#') Privacy Policy
      .col-md-2.footer-social.animated.fadeInDown
        h4 Follow Us
        ul
          li
            a(href='#') Facebook
          li
            a(href='#') Twitter
          li
            a(href='#') Instagram
          li
            a(href='#') RSS
      .col-md-3.footer-ns.animated.fadeInRight
        h4 Newsletter
        p A rover wearing a fuzzy suit doesn’t alarm the real penguins
        p
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-default(type='button')
                span.glyphicon.glyphicon-envelope