doctype html
html
  head

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/style.css')
  body
    block content
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='bootstrap/js/responsiveslides.min.js')
    script(src='bootstrap/js/jquery.flexisel.js')

