extends layout

block content
  #banner.page-header
    .row
      .col-lg-12
        .text-center
          i
            h1= pageHeader.title
            small &nbsp; #{pageHeader.strapline}
     <br />
    .row
      .col-md-5.col-sm-6.col-xs-12
        +panel("Panel Heading", "primary") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
          p
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          p
            span.glyphicon.glyphicon-heart
            &nbsp;&nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-play-circle
          p
            .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') more

      .col-md-5.col-sm-6.col-xs-12
        +panel("Panel Heading", "primary") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
          p
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          p
            span.glyphicon.glyphicon-heart
            &nbsp;&nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-play-circle
          p
            .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') more
      .col-md-5.col-sm-6.col-xs-12
        +panel("Panel Heading", "primary") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
          p
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          p
            span.glyphicon.glyphicon-heart
            &nbsp;&nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-play-circle
          p
            .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') more
      .col-xs-5.col-sm-5
        +panel("Panel Heading", "primary") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
          p
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          p
            span.glyphicon.glyphicon-heart
            &nbsp;&nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-play-circle
          p
            .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') more
      .col-xs-5.col-sm-5
        +panel("Panel Heading", "primary") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
          p
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          p
            span.glyphicon.glyphicon-heart
            &nbsp;&nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-play-circle
          p
            .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') more

      .col-xs-5.col-sm-5
        +panel("Panel Heading", "primary") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
          p
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          p
            span.glyphicon.glyphicon-heart
            &nbsp;&nbsp;&nbsp;&nbsp;
            span.glyphicon.glyphicon-play-circle
          p
            .col-xs-12
              a.btn.btn-default.pull-right(href='/movie') more